/* Main Stylesheet */

/* page reset */
* {
	margin: 0;
	padding: 0;
	border: 0; 
}

header, body, nav {
	max-width: 100%;
	height: auto;
}
/* header styles */
header {
	margin: 30px;
	padding: 10px;
	background-color: black;
}

nav ul li {
	list-style-type: none;
	margin: 5px 100px 5px 25px;
	padding: 15px;
	display: inline-block;
	font-weight: bold;
	background-color: black;
	
}

body {
	margin: 5em;
	background-color: black;
	color: white;
}

.grid-container {
	display: grid;
	margin: 20px; 
	column-gap: 20px;
}

.item1 {
	grid-column: 1;
	grid-gap: 75em;
}

.item2 {
	grid-column: 2;
	grid-gap: 75em;
}

.item3 {
	grid-column: 3;
	grid-gap: 75em;
}

.item4 {
	grid-column: 4;
	grid-gap: 75em;
}

footer {
	margin: auto;
	padding: 10px;
	width: 75%;
	text-align: center;
	font-size: 30px;
	color: red;
	clear: left;
}

 header img {
	height: 100px;
	width: 150px;
} 

body {
	height: 200vh;
/*	background-image: ("Images\question-mark-1.jpg");*/
	background-image: url("https://lh3.googleusercontent.com/TpQhhoiO2JpzZl3fXt9bkBzSYW9mRY8wEQH7dKMTVVJmhkaVdi5cR7EW6XyktjxITMF-EUTekt9yLOJasRgxKDxJ_E8qJ-6fmKaUqHcLaOO6hFsYE-RWWJPPsBKPDu-2OyO-tVX-Sg=w2400");
	background-size: cover;
	font-family: sans-serif;
	margin-top: 150px;
	padding:  30px; 
}

header {
	background-color: black;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 120px;
	display: flex;
	align-items: center;
}

header * {
	display: inline;
}

header li {
	margin: 20px;
}

header li a {
	color: #FF4500;
	text-decoration: none;
}

p u {
	height: 30px;
	font-size: 30px;
	color: red;
	margin-bottom: 20%;
	text-align: center;
}

h2 {
	font-size: 50px;
	text-align: center;
	font-family: American typewriter;
}

#hi {
	font-size: 35px;
	text-align: center;
	font-family: American typewriter;
	text-decoration: underline;
}

#pi1 {
	text-align: center;
	font-size: 25px;
	border-bottom-style: inset;
}
#pi2 {
	text-align: center;
	font-size: 25px;
	border-bottom-style: inset;
}
#pi3 {
	text-align: center;
	font-size: 25px;
	border-bottom-style: inset;
}
#pi4 {
	text-align: center;
	font-size: 25px;
	border-bottom-style: inset;
}

#prepare {
	font-size: 30px;
	margin-left: 5px;
	margin-top: 1%;
	margin-bottom: 3%;
}

#liR5 {
	margin-left: 20px;
	margin-top: 30px;
	font-size: 25px;
}
#liR1 {
	margin-left: 20px;
	margin-top: 30px;
	font-size: 25px;
}
#liR2 {
	margin-left: 20px;
	margin-top: 30px;
	font-size: 25px;
}
#liR3 {
	margin-left: 20px;
	margin-top: 30px;
	font-size: 25px;
}
#liR4 {
	margin-left: 20px;
	margin-top: 30px;
	font-size: 25px;
}
#liR6 {
	margin-left: 20px;
	margin-top: 30px;
	font-size: 25px;
}
#liR7 {
	margin-left: 20px;
	margin-top: 30px;
	font-size: 25px;
}
#liR8 {
	margin-left: 20px;
	margin-top: 30px;
	font-size: 25px;
}

#ChooseGame {
	Font-size: 50px;
	Text-align: Center;
	Font-Family: Garamond;
	Margin-top: 10%;
}

.grid-container-games {
	display: grid;
	margin: 40px;
}

.item11 {
	grid-column: 1;
}

.item22 {
	grid-column: 2;
}

.item33 {
	grid-column: 3;
}

#h21 {
	Font-size: 50px;
}
#h22 {
	Font-size: 50px;
}
#h23 {
	Font-size: 50px;
}

#games {
	margin-bottom: 20%;
}

#pirate {
	border: 1px solid #ddd;
	border-radius: 4px;
	padding: 5px;
	width: 400px;
	height: 400px;
}

#alien {
	border: 1px solid #ddd;
	border-radius: 4px;
	padding: 5px;
	width: 400px;
	height: 400px;
}

#ghost {
	border: 1px solid #ddd;
	border-radius: 4px;
	padding: 5px;
	width: 400px;
	height: 400px;
}

#abp {
	font-size: 32px;
	margin-top: 5%;
}

#abh2 {
	margin-top: 5%;
}

#cide {
	margin-top: 5%;
	margin-bottom: 5%;
	font-size: 20px;
	text-align: center;
}

#dic {
	font-size: 45px;
	text-align: center;
}

#codebutton {
	margin-left: 870px;
	margin-top: 102px;
}

#hi1 {
	font-size: 35px;
	text-align: center;
	font-family: American typewriter;
	text-decoration: underline;
}

#hi2 {
	font-size: 35px;
	text-align: center;
	font-family: American typewriter;
	text-decoration: underline;
}

#hi3 {
	font-size: 35px;
	text-align: center;
	font-family: American typewriter;
	text-decoration: underline;
}

#hi4 {
	font-size: 35px;
	text-align: center;
	font-family: American typewriter;
	text-decoration: underline;
}

#ppi {
	
}